{## Start with  defaults from defaults.yaml ##}
{% import_yaml "qrexec-gpg-agent/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'nc_pkg': 'nmap',
    },
    'RedHat': {
      'nc_pkg': 'nmap-ncat',
    }
  }
  , grain="os_family"
  , merge=salt['pillar.get']('qrexec_gpg_agent:lookup')
 )
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.qrexec_gpg_agent.update(os_family_map) %}

{## Merge in openssh:lookup pillar ##}
{% set qrexec_gpg_agent = salt['pillar.get'](
    'qrexec_gpg_agent',
    default=default_settings.qrexec_gpg_agent,
    merge=True
  )
%}
